# Fugue Icons
fugue-icons-3.5.6/bonus/
fugue-icons-3.5.6/icons-shadowless/
fugue-icons-3.5.6/CHANGELOG.txt
fugue-icons-3.5.6/combination.png
fugue-icons-3.5.6/FILENAME.txt

BYML-Input/
BYML-Output/
MM2Theme-Output/
.venv/
.python-version